main section div{
    padding: 0 15%;
}

.bannerContainer{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.bannerContainer img{
    width: 100%;
    height: auto;
}

.principalTitle{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principalTitle::first-letter{
    font-weight: bold;
}

.barberItems{
    width: 130px;
    float: inline-start;
    margin: 0 15px 10px 0;
}

.principal{
    padding: 3em;
    background-color: white;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.mapa{ 
    background: linear-gradient(white, #989898);
    text-align: center;
}

.diferenciales{
    padding: 3em;
    background-color: #989898;
}

.diferenciales-content{
    width: 700px;
    margin: 0 auto;
}

.diferenciales-list{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items::before{
    content: "\272F\0020";
}

.diferenciales-list .items:first-child{
    font-weight: bold;
}

.img-diferenciales{
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: -10px 10px 5px black;
}

.img-diferenciales:hover{
    opacity: 0.3;

}

.barberVideo{   
    padding: 3em;
    background: linear-gradient(#989898,#111111);
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width:480px) {

    .bannerContainer{
        height: 100%;
    }

    .mapa iframe{
        height: 100%;
    }

    .diferenciales-content{
        width: auto;
    }

    .diferenciales-list, .img-diferenciales{
        width: 100%;
    }

    .barberVideo iframe{
        width: 90%;
    }
}